body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: baseline;
    padding: 1% 10%;
    background-color: #1F2937;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    color: #e5e7eb;
}

.navigation .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.hero {
    display: flex;
    /* flex: 1; */
    justify-content: space-between;
    padding: 5% 10%;
    height: 30vh;
    gap: 2%;
    background-color: #1F2937;
}

.cta-signup {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cta-signup * {
    margin: 0;
}

.cta-signup h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.cta-signup p {
    font-size: 18px;
    font-weight: 400;
    color: #f9faf8
}

.cta-signup button {
    margin-top: 3%;
    padding: 0.4em 1.8em;
    background-color: #3882f6;
    border: none;
    border-radius: 0.4em;
    font-weight: 700;
    color: #f9faf8;
}

.hero-img {
    display: flex;
    width: 500px;
    margin: 0px;
}




footer {
    display: flex;
    flex: 1;
    flex-direction: column;
}